<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/bemutatkozas.jpg"
      />
      <div class="flex flex-col gap-10">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-bold sm:text-4xl">Célunk</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Az Avenir Vision célja, hogy az adott ingatlant bemutassa, majd megszerettesse az érdeklődővel. A legújabb trendeknek megfelelő tervekkel és magas minőségű, fotorealisztikus látványtervekkel mutatjuk meg, hogy milyen otthon lehetőségét rejti az ingatlan. Fontos, hogy külön-külön marketingcsatornákra optimalizálva készítsük el a végső produktumot. (Ingatlan.com, Facebook hirdetés, Tiktok, stb.)
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              A választható design-ok között minden lakóingatlanhoz találni megfelelőt. Az előre megtervezett sémák felgyorsítják a tervezési folyamatot, így rövid határidővel és elérhető áron tudunk prémium minőséget biztosítani.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
