---
const pricing = [
  {
    name: '3D-s alaprajz',
    periodicity: '/m²',
    thumbnail: '/assets/kepek/design1/alaprajz.png',
    price: '350 Ft',
  },
  {
    name: 'Látványtervek',
    periodicity: '/m²',
    thumbnail: '/assets/kepek/design1/nappali.png',
    price: '3900 Ft',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-2">
      {
        pricing.map((item) => (
          <div class="relative flex flex-col gap-8 rounded-3xl p-8 bg-primary-500/10 dark:bg-primary-400/10" >
            <div class="flex-1">
              <h2 class="text-xl font-medium">{item.name}</h2>
              <img src={item.thumbnail} alt="" class="rounded-3xl my-8">
              <p class="mt-4 flex items-baseline">
                <span class="text-4xl font-medium tracking-tight">{item.price}</span>
                <span class="text-primary-950/70 dark:text-primary-200/70 ml-1 text-sm font-medium">
                  {item.periodicity}
                </span>
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
