<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-bold sm:text-4xl">Kérjen árajánlatot</h2>
        <p class="text-primary-950/70 max-w-lg text-lg sm:text-xl">
          Ha árajánlatot kérne, vagy csak többet szeretne tudni a szolgáltatásainkról, keressen minket bizalommal!
        </p>
      </div>
      <form method="GET" class="mt-3 flex flex-col gap-y-6" name="contact" id="contact">
        <!-- Full name input -->
        <div>
          <label for="full-name" class="sr-only">Név</label>
          <input
            type="text"
            name="name"
            id="name"
            autocomplete="name"
            class="hover:ring-primary-600 focus:ring-primary-600 bg-primary-50 ring-primary-900/40 placeholder:text-primary-950/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Név"
          />
        </div>

        <!-- Email input -->
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="hover:ring-primary-600 focus:ring-primary-600 bg-primary-50 ring-primary-900/40 placeholder:text-primary-950/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Email"
          />
        </div>
        <!-- Message textarea -->
        <div>
          <label for="message" class="sr-only">Message</label>
          <textarea
            name="message"
            id="message"
            rows="3"
            class="hover:ring-primary-600 focus:ring-primary-600 bg-primary-50 ring-primary-900/40 placeholder:text-primary-950/60 block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"
            placeholder="Üzenet"></textarea>
        </div>
        <div>
          <button
            class="bg-primary-600 hover:bg-primary-700 focus-visible:outline-primary-600 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-bold text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            type="submit"
          >
            Küldés
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  const form = document.getElementById('contact');
  var xhr = new XMLHttpRequest();

  const handleFormSubmission = (event) => {
    // prevent page from reloading
    event.preventDefault();

    const data = event.target.elements;

    // put into JSON object
    const formData = {
      name: data.name.value,
      email: data.email.value,
      message: data.message.value,
    };

    // Set POST request method to our netlify function
    xhr.open('POST', '/.netlify/functions/contact');

    // Set the request headers
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

    // Send the data as JSON to our netlify function
    xhr.send(JSON.stringify(formData));

    // Handle the response
    xhr.onload = function () {
      const response = JSON.parse(xhr.responseText);

      if (xhr.status === 200) {
        // The request was successful
        console.log('success');
      } else {
        // The request failed
        console.log('fail');
      }
    };
  };

  // add the submission event listener
  form.addEventListener('submit', handleFormSubmission, true);
</script>
